<div style="margin: 10px;">
	<h5>Список устройств, подключеных к Умному дому.</h5>
	<p>&nbsp;</p>
<!-- Начало экспериментальной части. -->

	{{home_dto.string}}

<!--	<div>-->
<!--	</div>-->

<br>
	<div ng-repeat="type_group in home_dto.groups"><!-- HTML-контейнер для устройств одного типа -->
		<p><h4 align="center">{{type_group.typeName}}</h4></p>
		<div ng-repeat="device in type_group.devices" class="device_panel"><!-- ng-repeat работатет в <div>, но не работает в <table> -->
			<table class="table table-striped margin_bottom_0">
				<tr><td class="col-3">
						{{device.friendlyName}}
					</td>
					<td class="col-2">
						{{device.state.opCode}}
					</td>
					<td class="col-5">
						{{getActiveString(device.state.active)}}
						<br>
						{{device.state.currentTask.name}}&nbsp;({{device.state.currentTask.tstate}})
					</td>
					<td class="col-2">
						<!-- Кнопка Активировать/Деактивировать устройство. -->
						<button class="btn btn-outline-primary btn-sm justify-end" title="Активировать/Деактивировать устройство"
								ng-click="toggleDeviceActiveState(device)">
							{{getActiveButtonName(device.state.active)}}
						</button>
						<br>
						<!-- Кнопка Показать/Скрыть панель устройства. -->
						<button class="btn btn-outline-primary btn-sm justify-end" title="Показать/Скрыть панель устройства"

								ng-click="togglePanel(device, device.htmlPanelOpened)">
							{{getShowOrHideButtonName(device.htmlPanelOpened)}}
						</button><!-- ng-model="panel_opened" ng-init="panel_opened=device.htmlPanelOpened"   panel_opened=!panel_opened;  panel_opened -->
					</td>
				</tr>
			</table>
			<div class="almost_windows animate-if" ng-if="device.htmlPanelOpened"><!-- Источник: https://docs.angularjs.org/api/ng/directive/ngIf -->
<!--			<img src="img/Steampunk.jpg" alt="JPG">-->
				<table class="table table-success table-striped margin_bottom_0">
					<thead class="table-dark">
						<tr>
							<th>
								(заголовок к рабочей области устройства)
							</th>
						</tr>
					</thead>
					<tbody>
						<tr><td>
								(рабочая область)
							</td>
						</tr>
					</tbody>
					<tfoot class="table-primary">
						<tr>
							<td>
								(футер к рабочей области устройства)
							</td>
						</tr>
					</tfoot>
				</table>
				<ul>
					<li>device.abilities.deviceType : {{device.abilities.deviceType}}</li>
					<li>device.abilities.vendorName : {{device.abilities.vendorName}}</li>
					<li>device.abilities.uuid : 	  {{device.abilities.uuid}}</li><!--  ng-model="device_change.uuid" -->
					<li>device.abilities.canSleep :   {{device.abilities.canSleep}}</li>
					<li>device.abilities.tasks :
						<ul ng-repeat="task in device.abilities.tasks">
							<li>device.abilities.tasks.name : 		   {{task.name}}</li>
							<li>device.abilities.tasks.tstate : 	   {{task.tstate}}</li>
							<li>device.abilities.tasks.autonomic : 	   {{task.autonomic}}</li>
							<li>device.abilities.tasks.interruptible : {{task.interruptible}}</li>
							<li>device.abilities.tasks.duration : 	   {{task.duration}}</li>
							<li>device.abilities.tasks.remained : 	   {{task.remained}}</li>
							<li>device.abilities.tasks.elapsed : 	   {{task.elapsed}}</li>
							<li>device.abilities.tasks.message : 	   {{task.message}}</li>
						</ul>
					</li><!-- <<<< Список задач (device.abilities.tasks) с описаниями. -->
					<li>device.state.active :  {{device.state.active}}</li>
					<li>device.state.opCode :  {{device.state.opCode}}</li>
					<li>device.state.errCode : {{device.state.errCode}}</li>
					<li>device.state.currentTask : <!--{{device.state.currentTask}}-->
						<ul>
							<li>device.abilities.tasks.name : 			{{device.abilities.tasks.name}}</li>
							<li>device.abilities.tasks.tstate : 		{{device.abilities.tasks.tstate}}</li>
							<li>device.abilities.tasks.autonomic : 		{{device.abilities.tasks.autonomic}}</li>
							<li>device.abilities.tasks.interruptible :	{{device.abilities.tasks.interruptible}}</li>
							<li>device.abilities.tasks.duration : 		{{device.abilities.tasks.duration}}</li>
							<li>device.abilities.tasks.remained : 		{{device.abilities.tasks.remained}}</li>
							<li>device.abilities.tasks.elapsed : 		{{device.abilities.tasks.elapsed}}</li>
							<li>device.abilities.tasks.message : 		{{device.abilities.tasks.message}}</li>
						</ul>
					</li><!-- Текущая задача. -->
					<li><form class="align-middle col-12" ng-submit="tryNewFriendlyName(device, newFriendlyName)">
							<div class="input-group input-group-sm" style="margin-left: -15px;">
								device.friendlyName&nbsp;:&nbsp;{{device.friendlyName}}&nbsp;
								<input	id="friendlyNameInput"
                                		class="form-control"
                                		style="margin-left: 10px;"
                                		type="text"
                                		value="{{device.friendlyName}}"
										aria-describedby="inputGroup-sizing-sm"
										ng-model="newFriendlyName"
										required="required"
										><!--       -->
								<button	id="friendlyNameSubmit"
                                		class="btn btn-outline-warning btn-sm"
                                		style="margin-left: 10px;"
                                		type="submit"
                                		>Запомнить</button>
							</div>
						</form><!-- Форма для изменения device.friendlyName. -->
					</li>
					<li>device.htmlPanelOpened&nbsp;:&nbsp;{{device.htmlPanelOpened}}</li>
				</ul>
			</div>
		</div>
	</div>
	<br><br>
<!--	<div>&lt;!&ndash; HTML-контейнер для одного устройства &ndash;&gt;&lt;!&ndash; камера видеонаблюдения &ndash;&gt;
			<table class="table table-striped">
				<tr><td class="col-3">
						Камера видеонаблюдения
					</td>
					<td class="col-2">
						(состояние)
					</td>
					<td class="col-5">
						(краткие показания)
					</td>
					<td class="col-2">
						<button class="btn btn-outline-primary btn-sm justify-end"
								ng-model="checked2" ng-init="checked2=false" ng-click="checked2=!checked2">
							Показать-Скрыть
						</button>
					</td>
				</tr>
			</table>
			<div class="almost_windows" ng-if="checked2" class="animate-if">&lt;!&ndash; Источник: https://docs.angularjs.org/api/ng/directive/ngIf &ndash;&gt;
&lt;!&ndash;				<img src="img/NTSC-PAL-SECAM global map.svg.png" alt="PNG">&ndash;&gt;
				<table class="table table-success table-striped">
					<thead class="table-dark">
						<tr>
							<th>
								(заголовок к рабочей области устройства)
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								(рабочая область)
							</td>
						</tr>
					</tbody>
					<tfoot class="table-primary">
						<tr>
							<td>
								(футер к рабочей области устройства)
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
	</div>
	<br><br>
	<div>&lt;!&ndash; HTML-контейнер для одного устройства &ndash;&gt;&lt;!&ndash;  &ndash;&gt;
			<table class="table table-striped">
				<tr><td class="col-3">
						(Название устройства)
					</td>
					<td class="col-2">
						(состояние)
					</td>
					<td class="col-5">
						(краткие показания)
					</td>
					<td class="col-2">
						<button class="btn btn-outline-primary btn-sm justify-end"
								ng-model="checked3" ng-init="checked3=false" ng-click="checked3=!checked3">
							Показать-Скрыть
						</button>
					</td>
				</tr>
			</table>
			<div class="almost_windows" ng-if="checked3" class="animate-if">&lt;!&ndash; Источник: https://docs.angularjs.org/api/ng/directive/ngIf &ndash;&gt;
&lt;!&ndash;				<img src="img/001.jpeg" alt="JPEG">&ndash;&gt;
&lt;!&ndash;				<img src="img/ase3.gif" alt="GIF">&ndash;&gt;
&lt;!&ndash;				<img src="img/BIG.BMP" alt="BMP">&ndash;&gt;
				<table class="table table-success table-striped">
					<thead class="table-dark">
						<tr>
							<th>
								(заголовок к рабочей области устройства)
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								(рабочая область)
							</td>
						</tr>
					</tbody>
					<tfoot class="table-primary">
						<tr>
							<td>
								(футер к рабочей области устройства)
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
	</div>
	<br><br>-->

<!--	<button class="btn btn-primary btn-sm" >Управление устройствами</button>-->

<!-- Конец экспериментальной части. -->
</div>