<div style="margin: 10px;">
	<h5>{{contextPrompt}}</h5>
	<p>&nbsp;</p>
	<form novalidate><!-- ng-show="canShow()"  ng-reset="resetForm()" -->

		<div class="container" style="font-size: 14pt; font-weight:500;">
			<div class="row">
				<!-- Число в col-N означает относительную ширину колонки. Если общее кол-во колонок
				всех элементов превышает 12, то элементы, занимающие лишние колонки, переносятся на
				след.строку. В данном примере общее кол-во колонок: 1+11 = 12, что заставляет ряд
				занимать всю доступную ему ширину. Если общее кол-во колонок не равно 12, то имеет
				смысл указать в class="row" тип выравнивания.  -->
				<div class="col-2">
					<label for="login" class="col-form-lable">Логин:&nbsp;</label>
				</div>
				<div class="col-10">
					<input	id="login"
							class="form-control"
							type="text"
							placeholder="обязательно укажите (до 32 сиволов)"
							required="required"
							maxlength="32"
							ng-model="new_user.login">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="password" class="col-form-lable">Пароль:&nbsp;</label>
				</div>
				<div class="col-10">
					<input	id="password"
							class="form-control"
							type="password"
							placeholder="обязательно укажите (до 32 символов)"
							required="required"
							maxlength="32"
							ng-model="new_user.password">
				</div>
			</div>
			<p></p>
			<div>
				<!--	ng-show="!canShowRegistrationElements()"  -->
				<button type="button" class="btn btn-primary col-2"
						ng-click="authorize()">Авторизация</button><!-- Авторизация -->
			</div>
			<p></p>
			<p style="color: #074F86;">
				Если Вы забыли логин или пароль, то задать новые логин и пароль можно введя ключ активации.
			</p>
			<div class="row g-2 bg-example"><!-- ng-show="canShowRegistrationElements()"  -->
				<div class="col-2">
					<label for="key" class="col-form-lable"><nobr>Ключ активации:</nobr>&nbsp;</label>
				</div>
				<div class="col-10">
					<input	id="key"
							class="form-control"
							type="text"
							placeholder="XXXXX-XXXXXXXX-XXXXXX-XXXXX-XXXXXXX"
							required="required"
							maxlength="35"
							ng-model="new_user.key">
				</div>
			</div>
			<p></p>
			<div>
				<button type="button" class="btn btn-primary col-2"
						ng-click="register()">Регистрация</button><!-- Регистрация -->
				<!--	ng-show="canShowRegistrationElements()"  -->
			</div>
		</div>
	</form>
	<p></p>
</div>
