<div style="margin: 10px;">
	<h5>{{contextPrompt}}</h5>
	<p>(сейчас: admin / 100)</p>
	<form novalidate><!--  -->
		<div class="container" style="font-size: 14pt; font-weight:500;">
			<div class="row">
				<div class="col-2">
					<label for="login" class="col-form-lable">Логин:&nbsp;</label>
				</div>
				<div class="col-10">
					<input	id="login"
							class="form-control form-control-sm smartinput"
							type="text"
							style="padding-left:10px;"
							placeholder="обязательно укажите (до 32 сиволов)"
							required="required"
							maxlength="32"
							ng-model="new_user.login">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="password" class="col-form-lable">Пароль:&nbsp;</label>
				</div>
				<div class="col-10">
					<input	id="password"
							class="form-control form-control-sm smartinput"
							type="password"
							style="padding-left:10px;"
							placeholder="обязательно укажите (до 32 символов)"
							required="required"
							maxlength="32"
							ng-model="new_user.password">
				</div>
			</div>
			<p></p>
			<div>
				<button type="button" class="btn btn-sm btn-primary col-2"
						ng-click="authorize()">Авторизация</button><!-- Авторизация -->
			</div>
			<p></p>
			<p style="color: #074F86;">
				Если Вы забыли логин или пароль, то задать новые логин и пароль можно введя ключ активации.
			</p>
			<div class="row g-2 bg-example"><!--  -->
				<div class="col-2">
					<label for="key" class="col-form-lable"><nobr>Ключ активации:</nobr>&nbsp;</label>
				</div>
				<div class="col-10">
					<input	id="key"
							class="form-control form-control-sm smartinput"
							type="text"
							style="padding-left:10px;"
							placeholder="XXXXX-XXXXXXXX-XXXXXX-XXXXX-XXXXXXX"
							required="required"
							maxlength="35"
							ng-model="new_user.key">
				</div>
			</div>
			<p></p>
			<div>
				<button type="button" class="btn btn-sm btn-primary col-2"
						ng-click="register()">Регистрация</button><!-- Регистрация -->
			</div>
		</div>
	</form>
	<p></p>
</div>
